In [9]:
import pandas as pd

In [14]:
bank_data = pd.read_csv('bank-full.csv')

In [15]:
bank_data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [3]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

### Categorical data into numerical data

In [16]:
from sklearn.preprocessing import LabelEncoder

In [7]:
bank_data.job.unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [8]:
bank_data.marital.unique()

array(['married', 'single', 'divorced'], dtype=object)

In [31]:
bank_data.education.unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [17]:
bank_data.default.unique()

array(['no', 'yes'], dtype=object)

In [18]:
bank_data.housing.unique()

array(['yes', 'no'], dtype=object)

In [19]:
bank_data.loan.unique()

array(['no', 'yes'], dtype=object)

In [20]:
bank_data.contact.unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [21]:
cat_cols = ['job', 'marital', 'education', 'default', 'loan', 'housing', 'contact', 'poutcome', 'month', 'y']

In [22]:
for col in cat_cols:
    le = LabelEncoder()
    bank_data[col] = le.fit_transform(bank_data[col])

In [23]:
bank_data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
5,35,4,1,2,0,231,1,0,2,5,8,139,1,-1,0,3,0
6,28,4,2,2,0,447,1,1,2,5,8,217,1,-1,0,3,0
7,42,2,0,2,1,2,1,0,2,5,8,380,1,-1,0,3,0
8,58,5,1,0,0,121,1,0,2,5,8,50,1,-1,0,3,0
9,43,9,2,1,0,593,1,0,2,5,8,55,1,-1,0,3,0

In [24]:
bank_data.poutcome.unique()

array([3, 0, 1, 2], dtype=int64)

In [25]:
### Find imp features

In [26]:
bank_data.corr()['y']

age          0.025155
job          0.040438
marital      0.045588
education    0.066241
default     -0.022419
balance      0.052838
housing     -0.139173
loan        -0.068185
contact     -0.148395
day         -0.028348
month       -0.024471
duration     0.394521
campaign    -0.073172
pdays        0.103621
previous     0.093236
poutcome    -0.077840
y            1.000000
Name: y, dtype: float64

In [27]:
import numpy as np

In [28]:
s = np.abs(bank_data.corr()['y'])

In [29]:
s.sort_values(ascending=False)

y            1.000000
duration     0.394521
contact      0.148395
housing      0.139173
pdays        0.103621
previous     0.093236
poutcome     0.077840
campaign     0.073172
loan         0.068185
education    0.066241
balance      0.052838
marital      0.045588
job          0.040438
day          0.028348
age          0.025155
month        0.024471
default      0.022419
Name: y, dtype: float64

In [30]:
imp_cols = ['duration','contact','previous','housing','pdays']

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.naive_bayes import GaussianNB as GB

In [32]:
Classification_names = ['RF','GB','knn','LR']
Classification_models = [RandomForestClassifier(n_estimators=100),
                         GB(),
                         knn(n_neighbors=7),
                         LogisticRegression()]

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
def classification_model(model, data, feature, target):
    trainX, testX, trainY, testY = train_test_split(data[feature], data[target])
    model.fit(trainX, trainY)
    return model.score(testX,testY)

In [35]:
for idx,model in enumerate(Classification_models):
    acc = classification_model(model,bank_data, imp_cols, 'y')
    print (Classification_names[idx], acc)

RF 0.8871096169158631
GB 0.8796779616031142
knn 0.8882597540475979

C:\Users\OM   C\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LR 0.8905600283110678

In [36]:
all_cols = bank_data.columns.tolist()

In [37]:
all_cols.remove('y')

In [38]:
for idx,model in enumerate(Classification_models):
    acc = classification_model(model,bank_data, all_cols, 'y')
    print (Classification_names[idx], acc)

RF 0.9040962576307175
GB 0.841015659559409
knn 0.8858710076970716

C:\Users\OM   C\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LR 0.888436698221711